trigger:
- master

pool:
  name: Hosted VS2017
  demands:
  - msbuild
  - visualstudio
  - vstest

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: 'Use .NET Core SDK'
  inputs:
    packageType: sdk
    version: 3.1.201
    installationPath: $(Agent.ToolsDirectory)/dotnet

- task: DotNetCoreCLI@2
  displayName: Restore
  inputs:
    command: restore

- task: VSBuild@1
  displayName: Build
  inputs:
    msbuildArgs: '/p:nowarn=1591'
    configuration: RELEASE
    clean: true
    maximumCpuCount: true
    msbuildArchitecture: x64

- task: VSTest@2
  displayName: Test
  inputs:
    testAssemblyVer2: |
     **\*tests*.dll
     !**\*TestAdapter.dll
     !**\obj\**

- task: DotNetCoreCLI@2
  displayName: Pack
  inputs:
    command: pack

- task: CopyFiles@2
  displayName: Stage
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**\Auth0.*.nupkg'
    TargetFolder: '$(build.artifactstagingdirectory)'

- task: PublishBuildArtifacts@1
  displayName: Publish
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    ArtifactName: Auth0.Net.Packages

