name: Build and Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  AUTH0_AUTHENTICATION_API_URL: '${{ vars.AUTH0_AUTHENTICATION_API_URL }}'
  AUTH0_CLIENT_ID: '${{ vars.AUTH0_CLIENT_ID }}'
  AUTH0_CLIENT_SECRET: '${{ secrets.AUTH0_CLIENT_SECRET }}'
  AUTH0_HS256_CLIENT_ID: '${{ vars.AUTH0_HS256_CLIENT_ID }}'
  AUTH0_HS256_CLIENT_SECRET: '${{ secrets.AUTH0_HS256_CLIENT_SECRET }}'
  AUTH0_MANAGEMENT_API_AUDIENCE: '${{ vars.AUTH0_MANAGEMENT_API_AUDIENCE }}'
  AUTH0_MANAGEMENT_API_CLIENT_ID: '${{ vars.AUTH0_MANAGEMENT_API_CLIENT_ID }}'
  AUTH0_MANAGEMENT_API_CLIENT_SECRET: '${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_SECRET }}'
  AUTH0_MANAGEMENT_API_URL: '${{ vars.AUTH0_MANAGEMENT_API_URL }}'
  AUTH0_PASSWORDLESSDEMO_AUTHENTICATION_API_URL: '${{ vars.AUTH0_PASSWORDLESSDEMO_AUTHENTICATION_API_URL }}'
  AUTH0_PASSWORDLESSDEMO_CLIENT_ID: '${{ vars.AUTH0_PASSWORDLESSDEMO_CLIENT_ID }}'
  BRUCKE_AUTHENTICATION_API_URL: '${{ vars.BRUCKE_AUTHENTICATION_API_URL }}'
  BRUCKE_MANAGEMENT_API_AUDIENCE: '${{ vars.BRUCKE_MANAGEMENT_API_AUDIENCE }}'
  BRUCKE_MANAGEMENT_API_CLIENT_ID: '${{ vars.BRUCKE_MANAGEMENT_API_CLIENT_ID }}'
  BRUCKE_MANAGEMENT_API_CLIENT_SECRET: '${{ secrets.BRUCKE_MANAGEMENT_API_CLIENT_SECRET }}'
  BRUCKE_MANAGEMENT_API_URL: '${{ vars.BRUCKE_MANAGEMENT_API_URL }}'
  BuildConfiguration: '${{ vars.BuildConfiguration }}'
  CACHE_KEY: '${{ github.ref }}-${{ github.run_id }}-${{ github.run_attempt }}'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Save build artifacts
      uses: actions/cache/save@v3
      with:
        path: .
        key: ${{ env.CACHE_KEY }}
  test_core: 
    needs: build
    runs-on: ubuntu-latest
    name: Test Auth0.Core
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore build artifacts
      uses: actions/cache/restore@v3
      with:
        path: .
        key: ${{ env.CACHE_KEY }}
    - name: Test Core
      run: dotnet test tests/Auth0.Core.UnitTests/Auth0.Core.UnitTests.csproj
  test_auth:
    needs: test_core
    runs-on: ubuntu-latest
    name: Test Auth0.AuthenticationApi
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore build artifacts
      uses: actions/cache/restore@v3
      with:
        path: .
        key: ${{ env.CACHE_KEY }}
    - name: Test Authentication API
      run: dotnet test tests/Auth0.AuthenticationApi.IntegrationTests/Auth0.AuthenticationApi.IntegrationTests.csproj
  test_management:
    needs: test_auth
    runs-on: ubuntu-latest
    name: Test Auth0.ManagementApi
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    - name: Restore build artifacts
      uses: actions/cache/restore@v3
      with:
        path: .
        key: ${{ env.CACHE_KEY }}
    - name: Test Management API
      run: dotnet test tests/Auth0.ManagementApi.IntegrationTests/Auth0.ManagementApi.IntegrationTests.csproj
