<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" errorMode="Custom">
      <remove statusCode="403"/>
      <error statusCode="403" path="/robots.txt" responseMode="ExecuteURL"/>
    </httpErrors>
  </runtime>
</configuration>